<div class="row mb-4">
    <div class="btn-group" name="container">
        <button class="btn btn-primary" btnRadio='Unread' [(ngModel)]="messageParams.container" (click)="loadMessages()">
            <i class="fa fa-envelope"></i> Unread
        </button>
        <button class="btn btn-primary" btnRadio='Inbox' [(ngModel)]="messageParams.container" (click)="loadMessages()">
            <i class="fa fa-envelope-open"></i> Inbox
        </button>
        <button class="btn btn-primary" btnRadio='Outbox' [(ngModel)]="messageParams.container" (click)="loadMessages()">
            <i class="fa fa-paper-plane"></i> Outbox
        </button>
    </div>
</div>

<div class="row" *ngIf="messages?.length === 0">
    <h3>No Messages</h3>
</div>

<div class="row" *ngIf="messages.length > 0">
    <table class="table table-hover" style="cursor: pointer;">
        <tr>
            <th style="width: 20%;" *ngIf="messageParams.container == 'Inbox' || messageParams.container == 'Unread' ">From</th>
            <th style="width: 20%;" *ngIf="messageParams.container == 'Outbox'">To</th>
            <th style="width: 50%;">Message</th>
            <th style="width: 20%;" *ngIf="messageParams.container == 'Inbox' || messageParams.container == 'Unread' ">Received</th>
            <th style="width: 20%;" *ngIf="messageParams.container == 'Outbox'">Sent</th>
            <th style="width: 10%;">Delete</th>
        </tr>
        <tr [hidden]="loading" *ngFor="let message of messages" routerLink='{{container === "Outbox" ? "/members/" + message.recipientId : "/members/" + message.senderId}}'
                 [queryParams]='{tab: 3}'>
            <td>
                <div *ngIf="container === 'Outbox'">
                    <img src="{{message.recipientPhotoUrl || './assets/user.png'}}" alt="{{message.recipientUsername}}" class="img-circle rounded-circle mr-2">
                    <strong>{{message.recipientUsername | titlecase}}</strong>
                </div>
                <div *ngIf="container !== 'Outbox'">
                    <img src="{{message.senderPhotoUrl || './assets/user.png'}}" alt="{{message.senderUsername}}" class="img-circle rounded-circle mr-2">
                    <strong>{{message.senderUsername | titlecase}}</strong>
                </div>
            </td>
            <td style="font-size: 20px; color: #39ff14;"><strong>{{message.content | titlecase}}</strong></td>
            <td>{{message.messageSent | timeago}}</td>
            <td>
                <button (click)="$event.stopPropagation()" class="btn btn-danger" (click)="deleteMessage(message.id)">Delete</button>
            </td>
        </tr>
    </table>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination && !loading" [hidden]="messages?.length === 0">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
    </pagination>
</div>