.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #927a7a;
}

.rounded-circle {
    max-height: 35px;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #5937f1; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #6e0feb; 
}

.card-body {
    overflow: scroll;
    height: 690px;
    width: 100%;
    overflow-x: hidden;
}

.mesij {
    background-color: #210070;
    border-radius: 15px;
    padding: 8px 17px;
    max-width: fit-content;
    margin-top: 8px;
    font-family: Zapf Chancery, cursive;
    font-size: large;
}